.card{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6% 1%;
    flex-grow: 1;
    perspective: 1000px; 
    color: transparent;
}

img {
	width: 30%;
	height: min-content;
}