.card{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8% 1%;
    flex-grow: 1;
    perspective: 1000px; 
    color: transparent;
}

img {
	width: 80%;
	height: min-content;
}