.card{
    width: 10%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1%;
    flex-grow: 1;
    perspective: 1000px; 
    color: transparent;
}