.card{
    width: 9vw;
    height: 24vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3vh 4vw;
    flex-grow: 1;
    perspective: 1000px; 
    color: transparent;
}

img {
	width: 9vw;
	height: 24vh;
}