.card{
    width: 4vw;
    height: 14vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vh 4.5vw;
    flex-grow: 1;
    perspective: 1000px; 
    color: transparent;
}

img {
	width: 4vw;
	height: 14vh;
}