.card{
    width: 8vw;
    height: 16vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1vw;
    flex-grow: 1;
    perspective: 1000px; 
    color: transparent;
}

img {
	width: 5vw;
	height: min-content;
}