@import "general.css";

body{
	font-size: 40px;
}

#headerContainer{
	width: 85%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	margin-top: 60px;	
}
#cancelContainer{
	width: 200px;
	height: 70px;
	margin-top: 30px;
	margin-left: 0px;
}

#cancelContainer .btn{
	width: 100%;
	height: 100%;
	font-size: 45px;
}

#timerContainer{
	width: 300px;
	height: 40px;
	margin-top: 60px;
	
	margin-left: auto;
}
#timerContainer p{
	display: inline;
}


#counterContainer{
	width: 200px;
	height: 40px;

	margin-top: 60px;
	margin-left: auto;
}
.flash{
	animation-name: flash;
    animation-duration: 2s;
}
@keyframes flash {
	0% {box-shadow: 0 0 0px transparent;}
	50% {box-shadow: 0 0 0px transparent;}
	75% {box-shadow: 0 0 50px white;}
	100% {box-shadow: 0 0 0px transparent;}
}
.redFlash{
	animation-name: redFlash;
    animation-duration: 2s;
}
@keyframes redFlash {
	0% {box-shadow: 0 0 0px transparent;}
	50% {box-shadow: 0 0 0px transparent;}
	75% {box-shadow: 0 0 50px #E92924;}
	100% {box-shadow: 0 0 0px transparent;}
}		

#cardsContainer{
	width: 85%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	margin-top: 20px;
	background-color: #33302F;
	border: 5px solid #858585;
}

table{
	width: 100%;
	height: 100%;
}
td{
	text-align: center;
}
img {
	width: 50%;
	height: min-content;

}
p {
	text-shadow:	0 0 10px #DFDCE4,
					10px -10px 10px #DFDCE4,
					15px -15px 10px #DFDCE4,
					0 0 10px #DFDCE4,
					0 0 10px #DFDCE4,
					0 0 10px #DFDCE4,
					0 0 10px #DFDCE4,
					0 0 10px #DFDCE4
	;
	margin: 0;
}

#containerEasterEgg{
	position: absolute;
	top:  -100vh;
	right: 0;
}

#head{
	position: absolute;
	top:  20vh;
	right: 50vw;
}
#rightArm{
	position: absolute;
	top:  23vh;
	right: 57vw;
}
#rightLeg{
	position: absolute;
	top:  39vh;
	right: 54vw;
}
#leftArm{
	position: absolute;
	top:  23vh;
	right: 43vw;
}
#leftLeg{
	position: absolute;
	top:  39vh;
	right: 46vw;
}
#exodiaGif{
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	right: 0;	
	text-align: center;
	background-color: rgba(0,0,0,0);
	display: none;
}
#exodiaGif img{
	margin-top: 10vh;
	width: 50%;
	height: auto;
	box-shadow: 0 0 100px 300px black;
}