@import "general.css";

.loser{
	padding: 10vh 0 20vh 0;
	margin: auto 0; 
	font-family: 'paragraph';
	font-size: 6vw;
	color:transparent;
	background: linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.6671043417366946) 12%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 75%, rgba(255,255,255,0.6671043417366946) 88%, rgba(255,255,255,0) 100%);
	background-repeat: no-repeat;
	background-size: 80%;
	-webkit-background-clip: text;
	text-shadow: 0 0 0 #33302F, 1px 0 0 #E92924, -1px 0 0 #E92924, 0 1px 0 #E92924, 0 -1px 0 #E92924;
}

.loser > h1 {
	margin: 0;
}

main {
	margin: 0px 100px 0 100px;
	display: flex;
	flex-direction: column;
	
}

.btn{
	font-size: 50px;
	width: 20%;
	height: 100px;
	font-family: 'paragraph';
	color: #DFDCE4;
	background-image: url('../images/button.jpeg');
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
body {
	font-size: 40px;
}

p {
	margin: 10px 0;
	padding: 0;
	text-shadow:	0 0 10px #DFDCE4,
					10px -10px 10px #DFDCE4,
					15px -15px 10px #DFDCE4,
					0 0 10px #DFDCE4,
					0 0 10px #DFDCE4,
					0 0 10px #DFDCE4,
					0 0 10px #DFDCE4,
					0 0 10px #DFDCE4
	;
}

@keyframes botar{
 0% {animation-timing-function:ease-in;}
 15% {bottom:0px; animation-timing-function:ease-out;}
 20% {bottom:80px; animation-timing-function:ease-in;}
 35% {bottom:0px; animation-timing-function:ease-out;}
 40% {bottom:75px; animation-timing-function:ease-in;}
 50% {bottom:0px; animation-timing-function:ease-out;}
 60% {bottom:50px; animation-timing-function:ease-in;}
 70% {bottom:0px; animation-timing-function:ease-out;}
 80% {bottom:25px; animation-timing-function:ease-in;}
 85% {bottom:0px; animation-timing-function:ease-out;}
 90% {bottom:10px; animation-timing-function:ease-in;}
 95% {bottom:0px; animation-timing-function:ease-out;}
 100% {bottom:0px;}
} 

@-webkit-keyframes botar{
 0% {-webkit-animation-timing-function:ease-in;}
 15% {bottom:0px; -webkit-animation-timing-function:ease-out;}
 20% {bottom:80px; -webkit-animation-timing-function:ease-in;}
 35% {bottom:0px; -webkit-animation-timing-function:ease-out;}
 40% {bottom:75px; -webkit-animation-timing-function:ease-in;}
 50% {bottom:0px; -webkit-animation-timing-function:ease-out;}
 60% {bottom:50px; -webkit-animation-timing-function:ease-in;}
 70% {bottom:0px; -webkit-animation-timing-function:ease-out;}
 80% {bottom:25px; -webkit-animation-timing-function:ease-in;}
 85% {bottom:0px; -webkit-animation-timing-function:ease-out;}
 90% {bottom:10px; -webkit-animation-timing-function:ease-in;}
 95% {bottom:0px; -webkit-animation-timing-function:ease-out;}
 100% {bottom:0px;}
}

@-moz-keyframes botar{
 0% {-moz-animation-timing-function:ease-in;}
 15% {bottom:0px; -moz-animation-timing-function:ease-out;}
 20% {bottom:60px; -moz-animation-timing-function:ease-in;}
 35% {bottom:0px; -moz-animation-timing-function:ease-out;}
 40% {bottom:45px; -moz-animation-timing-function:ease-in;}
 50% {bottom:0px; -moz-animation-timing-function:ease-out;}
 60% {bottom:30px; -moz-animation-timing-function:ease-in;}
 70% {bottom:0px; -moz-animation-timing-function:ease-out;}
 80% {bottom:15px; -moz-animation-timing-function:ease-in;}
 85% {bottom:0px; -moz-animation-timing-function:ease-out;}
 90% {bottom:10px; -moz-animation-timing-function:ease-in;}
 95% {bottom:0px; -moz-animation-timing-function:ease-out;}
 100% {bottom:0px;}
} 


@-o-keyframes botar{
 0% {-o-animation-timing-function:ease-in;}
 15% {bottom:0px; -o-animation-timing-function:ease-out;}
 20% {bottom:80px; -o-animation-timing-function:ease-in;}
 35% {bottom:0px; -o-animation-timing-function:ease-out;}
 40% {bottom:75px; -o-animation-timing-function:ease-in;}
 50% {bottom:0px; -o-animation-timing-function:ease-out;}
 60% {bottom:50px; -o-animation-timing-function:ease-in;}
 70% {bottom:0px; -o-animation-timing-function:ease-out;}
 80% {bottom:25px; -o-animation-timing-function:ease-in;}
 85% {bottom:0px; -o-animation-timing-function:ease-out;}
 90% {bottom:10px; -o-animation-timing-function:ease-in;}
 95% {bottom:0px; -o-animation-timing-function:ease-out;}
 100% {bottom:0px;}
} 



#l1 {
position: relative;
animation:botar 4s 250ms normal;
-webkit-animation:botar 4s 250ms normal;
-moz-animation:botar 4s 250ms normal;
-o-animation:botar 4s 250ms normal;
}

#l2 {
position: relative;
animation:botar 4.5s 300ms normal;
-webkit-animation:botar 4.5s 300ms normal;
-moz-animation:botar 4.5s 300ms normal;
-o-animation:botar 4.5s 300ms normal;
}
#l3 {
position: relative;
animation:botar 5s 350ms normal;
-webkit-animation:botar 5s 350ms normal;
-moz-animation:botar 5s 350ms normal;
-o-animation:botar 5s 350ms normal;
}
#ylose {
position: relative;
animation:botar 5.5s 250ms normal;
-webkit-animation:botar 5.5s 250ms normal;
-moz-animation:botar 5.5s 250ms normal;
-o-animation:botar 5.5s 250ms normal;
}
