@font-face {
    font-family: 'paragraph'; /*a name to be used later*/
    src: url('../fonts/Matrix.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'yugioh'; /*a name to be used later*/
    src: url('../fonts/Slaughter.ttf'); /*URL to font*/
}

body {
	height: 100vh;
	overflow: hidden;
	font-family: 'paragraph';
	text-align: center;
	background-image: url("../images/background.jpg");
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.btn {
	font-family: 'paragraph';
}

