@import "general.css";

main {
	display: flex;
	flex-direction: column;
}
.logo{
	color: transparent;
	margin: 0 auto 50px 0;
	-webkit-text-stroke: 3px black; 
	font-family: 'yugioh';
	font-size: 70px;
	text-shadow: 10px 0 1px rgba(0, 0, 0, 0.5), 0 0 #C0C0C0,
				-1px 0 yellow, 0 1px yellow, 1px 0 yellow, 0 -1px yellow,
				-4px 0 red, 0 4px red, 4px 0 red, 0 -4px red
	;			 
	background-image: url("../images/logo-background.png");
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}
.bottom-row{
	display:  flex;
	flex-direction: row;
}
.btn{
	margin: 20px 0;
	color: #DFDCE4;
	background-image: url('../images/button.jpeg');
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.btn-primary{
	height: 200px;
	width: 60%;
	font-size: 130px;
	margin-top: 100px; /*to position the play button*/
}
.btn-secondary{
	height: 100px;
	width: 40%;
	font-size: 70px;
}
.bottom-left{
	text-align: center;
	width: 50%;
	padding-left: 200px;
}
.bottom-right{
	width: 50%;
	padding-right: 200px;
	margin: auto 0;
	text-align: justify;
}

body {
	font-size: 40px;
}

p, h2 {
	text-shadow:	0 0 10px #DFDCE4,
					10px -10px 10px #DFDCE4,
					15px -15px 10px #DFDCE4,
					0 0 10px #DFDCE4,
					0 0 10px #DFDCE4,
					0 0 10px #DFDCE4,
					0 0 10px #DFDCE4,
					0 0 10px #DFDCE4
	;
}