@import "general.css";

.btn{
	width: 300px;
	height: 80px;
	font-size: 60px;
	margin-top: 4%;
}

.mainDiv{
	width: 60%;
	height: 40vw;
	background-color: #33302F;
	margin: 0px auto 50px auto;
}

.title {
	color: transparent;
	margin: auto;
	-webkit-text-stroke: 3px black; 
	font-family: 'yugioh';
	font-size: 70px;
	text-shadow: 10px 0 1px rgba(0, 0, 0, 0.5), 0 0 #C0C0C0,
				-1px 0 yellow, 0 1px yellow, 1px 0 yellow, 0 -1px yellow,
				-4px 0 red, 0 4px red, 4px 0 red, 0 -4px red
	;			 
}
.title h2{
	padding-top: 20px;
}

.rankingContainer{
	border: 1px solid black;
	width: 80%;
	height: 60%;
	margin: -50px auto 0 auto;
	overflow-y: scroll;
}