@font-face {
    font-family: 'yugioh'; /*a name to be used later*/
    src: url('../fonts/Slaughter.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'paragraph'; /*a name to be used later*/
    src: url('../fonts/Matrix.ttf'); /*URL to font*/
}

.winner{
	padding: 0 0 100px 0;
	margin: auto 0; 
	font-family: 'paragraph';
	font-size: 100px;
	color:transparent;
	animation: white-pan 0.5s linear, white-pan 0.5s 0.4s linear, flash-to-color 1s 0.9s linear;
	background: linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.6671043417366946) 12%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 75%, rgba(255,255,255,0.6671043417366946) 88%, rgba(255,255,255,0) 100%);
	background-repeat: no-repeat;
	background-size: 80%;
	-webkit-background-clip: text;
	text-shadow: 0 0 0 #33302F, 1px 0 0 #E92924, -1px 0 0 #E92924, 0 1px 0 #E92924, 0 -1px 0 #E92924;
}

@keyframes white-pan {
  0% {
	text-shadow: none;
    background-position: -500%;
  }
  100%{
	text-shadow: none;
    background-position: 500%;
  }
}
@keyframes flash-to-color {
	0% {
		background: none;
		text-shadow: none;
	}
	50% {
		background: none;
		text-shadow: none;
	}
	75% {
		background: none;
		text-shadow: 0 0 50px white,
		10px 0 50px white, -10px 0 50px white, 0 -10px 50px white, 0 10px 50px white,
		20px 0 50px white, -20px 0 50px white, 0 -20px 50px white, 0 20px 50px white;
	}
	100% {
		background: none;
		text-shadow: 0 0 50px white,
		10px 0 50px white, -10px 0 50px white, 0 -10px 50px white, 0 10px 50px white;
	}
}

.bottom-row{
	display:  flex;
	flex-direction: row;
	margin: 100px;
}
.main {
	margin: 0px 100px 0 100px;
	display: flex;
	flex-direction: column;
	
}
.bottom-left{
	width: 50%;
}
.bottom-right{
	width: 50%;
}
.btn-primary{
	background-color: #3B6EF5;
	height: 100px;
	width: 80%;
	font-size: 50px;
	padding-bottom: 100px;
    padding-top: 50px;
}
.inputField{
	display: block;
	margin: 0 auto;
	text-align: center;
	font-size: 50px;
	width: 20%;
	height: 50px;
	font-family: 'paragraph';
}
.btn{
	font-size: 50px;
	width: 20%;
	height: 100px;
	font-family: 'paragraph';
	margin: 20px 0;
	color: #DFDCE4;
	background-image: url('../images/button.jpeg');
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
body {
	height: 100vh;
	overflow: hidden;
	font-family: 'paragraph';
	font-size: 40px;
	text-align: center;
	background-image: url("../images/background.jpg");
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
p {
	margin: 0;
	padding: 0;
}
